.source-view > .code {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

.source-view > .comment > .ui-resizable-handle {
  border-right: 1px solid var(--light-gray);
  background: var(--light) url(/~icon/grip3.svg) no-repeat scroll center center;
  background-size: 18px 18px;
  cursor: e-resize;
  width: 4px;
  position: relative;
  right: 0;
}

.dark-mode .source-view > .comment > .ui-resizable-handle {
  border-right-color: var(--dark-mode-lighter-dark);
  background: var(--dark-mode-light-dark) url(/~icon/dark-grip3.svg) no-repeat scroll center center;
  background-size: 18px 18px;
}

.source-view .cm-selection-highlight {
  background-color: rgba(100, 149, 237, 0.25);
}

.dark-mode .source-view .cm-selection-highlight {
  background-color: rgba(100, 149, 237, 0.35);
}

.source-view .cm-editor {
  height: 100%;
}

.source-view .cm-scroller {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: inherit;
}
