[submodule "onedev"]
	path = references/onedev
	url = https://github.com/theonedev/onedev.git
[submodule "agent"]
	path = references/agent
	url = https://github.com/theonedev/agent.git
[submodule "commons"]
	path = references/commons
	url = https://github.com/theonedev/commons.git
[submodule "k8s-helper"]
	path = references/k8s-helper
	url = https://github.com/theonedev/k8s-helper.git
[submodule "maven-plugin"]
	path = references/maven-plugin
	url = https://github.com/theonedev/maven-plugin.git
[submodule "parent"]
	path = references/parent
	url = https://github.com/theonedev/parent.git
[submodule "tod"]
	path = references/tod
	url = https://github.com/theonedev/tod.git
